.header
{
 	 display:table;
	 position:relative;
	 width:100%;	 
}

.hrow
{
	display:table-row;
	width:100%;
}

.col_left
{
	display:table-cell;
	width:65%;
}
.col_right
{
	display:table-cell;
	width:35%;
	vertical-align: top;
}

.container
{
 	 display:table;
	 position:relative;
	 width:100%;	 
}
.row
{
	display:table-row;
	width:100%;
}
.footer
{
 	 display:table;
	 position:relative;
	 width:100%;	
	 font-size:1.5vmin; 
}
.frow
{
	display:table-row;
	width:100%;
}


.btnlogin
{
	width:80px;
	background-color:#faf7e6;
	border-radius: 3px;
	border:1px solid black;
	margin-top: 2px;
	margin-bottom: 2px;
	height:20px;
	text-align: center;
}

.infoL
{
	display:table-cell;
	width:20%;
	clear:both;
}
.infoR
{
	display:table-cell;
	width:80%;
	clear:both;
}

.wrapper
{
 	 display:table;
	 clear:both;
	 width:100%;
	 position:relative;
	
	 padding-top:1%;

}
.wraphead
{
	float:left;
	font:normal normal bold 2vmin Arial;
	color:purple;
	padding-left: 1.4%
}
.wraprow
{
	display:table-row;
}
.Lfield
{
	display:table-cell;
	text-align:right; 
	width:25%;
	font-size:1.9vmin;
}
.Rfield
{
	display:table-cell; 
	padding-left:8px;
	width:75%;
	padding-bottom: 7px;
	font-size:1.9vmin;
}

a
{
color:blue;
}
.pwstrength
{
	width:1.5vw;
	height:8px; 
	border:1px solid black;
	padding:0 3px\9;
}
