html,body
{
    height:95%;
}
#navbarCollapse > div
{
    padding:15px;
    display:inline-block;
}

#navbarCollapse > div >a
{
   text-decoration: none 
}

.container {
    min-height: 90%;
    height: auto !important;
    height: 90%;
    width: 80%;
    margin-top: 80px; 
}

.carousel-inner .item {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.carousel-inner .item img {
    width: 100%;
    min-height: inherit;
    max-height: 200px;
}
.carousel-caption {
    margin-left: -20%;
    margin-bottom: -3%;
    text-align:left;
}
.footer {
position:relative;
bottom:0;
height:60px;
}


